asgiref==3.4.1
attrs==21.4.0
autobahn==21.11.1
Automat==20.2.0
beautifulsoup4==4.8.2
cffi==1.15.0
channels==3.0.4
constantly==15.1.0
cryptography==36.0.1
django==3.2.3
daphne==3.0.2
djangorestframework==3.11.2
django-filter==21.1
django-haystack==3.1.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
jieba==0.42.1
lxml
loguru==0.4.1
mammoth==1.4.13
markdownify==0.6.0
mysqlclient==2.1.0
Markdown==3.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==21.0.0
pytz==2021.3
pillow>=7.1.0
PyYAML==5.4.1
requests==2.24.0
setuptools-scm
selenium==3.141.0
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing_extensions==4.0.1
whoosh==2.7.4
webdriver_manager==3.3.0
xmindparser==1.0.9
zope.interface==5.4.0